body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #2d4b6a;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
    color: black;
    text-shadow: 0 0 20px black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3b714;
    height: 100px;
    padding: 0 24px;
}

header>img {
    width: 440px;
}

nav {
    position: relative;
    width: 475px;
    padding-top: 12px;
}

.menu__btn {
    display: flex !important;
}

.menu__box {
    width: 100% !important;
}

#nav {
    display: none;
    justify-content: space-between;
    list-style: none;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

article {
    flex-grow: 1;
    padding: 12px;
}

article h1,h2 {
    text-align: center;
}

#aside1 {
    background-color: #c798b9;
    order: -1;
}

#aside1, #aside2 {
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    padding: 11px;
    font-size: 24px;
}

#aside2 {
    background-color: #9cb1c7;
}

#our-work {
    display: grid;
    grid-template-columns: 1fr;
}

.our-work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #A2A2A2;
    background-color: white;
    border-radius: 12px;
    transition: all 0.4s ease;
    padding: 24px;
    margin: 12px;
}

.our-work-item:hover {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1);
}

#our-work img {
    box-sizing: border-box;
    max-width: 180px;
    height: 180px;
    border: solid 12px #c6b7b6;
    border-radius: 50%;
}

#our-work h3 {
    text-align: center;
}

#our-work p {
    flex-grow: 1;
}

#our-work a {
    width: 80px;
    padding: 10px 0;
    text-align: center;
    background-color: #675174;
    color: white;
    border-radius: 40px;
    margin-top: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #86ec86;
    height: 65px;
}